@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calendario de Siembra</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/blog/">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Calendario de Siembra</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                        <li class="nav-item dropdown">
                            @if (SignInManager.IsSignedIn(User))
                            {
                            <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menú CRUD
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="CategoriaCultivo">Categoría Cultivo</a></li>
                                <li><a class="dropdown-item" href="Cultivo">Cultivo</a></li>
                                <li><a class="dropdown-item" href="DetalleCultivo">Detalle Cultivo</a></li>
                                <li><a class="dropdown-item" href="Recurso">Recurso</a></li>
                                <li><a class="dropdown-item" href="Tiporecurso">Tipo Recurso</a></li>
                                <li><a class="dropdown-item" href="Tiporiego">Tipo Riego</a></li>
                                <li><a class="dropdown-item" href="Tiposuelo">Tipo Suelo</a></li>
                                <li><a class="dropdown-item" href="TipoTecnica">Tipo Técnica</a></li>
                            </ul>
                            }
                            else
                            {

                            }
                            <!--<a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menú CRUD
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="CategoriaCultivo">Categoría Cultivo</a></li>
                                <li><a class="dropdown-item" href="Cultivo">Cultivo</a></li>
                                <li><a class="dropdown-item" href="DetalleCultivo">Detalle Cultivo</a></li>
                                <li><a class="dropdown-item" href="Recurso">Recurso</a></li>
                                <li><a class="dropdown-item" href="Tiporecurso">Tipo Recurso</a></li>
                                <li><a class="dropdown-item" href="Tiporiego">Tipo Riego</a></li>
                                <li><a class="dropdown-item" href="Tiposuelo">Tipo Suelo</a></li>
                                <li><a class="dropdown-item" href="TipoTecnica">Tipo Técnica</a></li>
                            </ul>-->
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Calendario de Siembra - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.dataTables.min.js"></script>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
